<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.forteholdings.turncloud.test.CasesTest"/>
      <class name="com.forteholdings.turncloud.test.DemographicTest"/>
      <class name="com.forteholdings.turncloud.test.InsuranceTest"/>
      <class name="com.forteholdings.turncloud.test.LoginTest"/>
      <class name="com.forteholdings.turncloud.test.PatientGridTest"/>
      <class name="com.forteholdings.turncloud.test.PatientHistoryTest"/>
      <class name="com.forteholdings.turncloud.test.EmployerTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
